{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'broker/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Exit Bridge Broker</title>
</head>
<body>
<h3>If you are a tor user:</h3>
    <ul>
      <li>Download extension</li>
      <li><a href={{ assign_url }}>Request Ephemeral Bridge</a></li>
    </ul>
<h3>If you are a proxy maintainer:</h3>
    <ul>
      <li><a href={{ register_url }}>Register Proxy</a></li>
    </ul>
</body>
</html>